@tailwind base;
@tailwind components;
@tailwind utilities;

.heroFrontEnd {
  animation: heroText 1s ease-in;
}
@keyframes heroText {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.heroDeveloper {
  animation: heroDeveloper 2s ease-in-out;
}
@keyframes heroDeveloper {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.heorPara1 {
    animation: heorPara1 2s ease-in-out;
}
@keyframes heorPara1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.abouth1{
    animation: heorPara1 2s ease-in-out;
}

